/* HRML -------------*/
/* CSS --------------*/
#parent見本 .parent,.child2{
    background-color: lawngreen;
    padding:0.1em 2em;
}
#parent見本 .parent .child1{
    background-color: green;
    color: lavender;
}
#parent見本 .child1.child2::after{
    content: "  <- after";
}


/* node -------------*/
/* JS ---------------*/