.container{background-color: pink;}


/* font size --------------------*/
html{font-size: 16px;}
p{font-size: 1em;}
h1{font-size: 2em;}
h2{font-size: 1.5em;}

/* width ------------------------*/
.textbox{width: auto;}

/*-------------------------------*/
/*-------------------------------*/
/*  -----------------------------*/
/*----*/
/*----*/
/*----*/
/*----*/
/*----*/
/*----*/

