/* font download ----------------*/
@font-face {
    font-family: "monospace";
    src: url("https://note.cheerppy.xyz//font/RictyDiminishedDiscord-Regular.ttf") format("truetype");
  }

/* general ----------------------*/
html{
    display: flex;
    background-color: #ffddf4;
}
div{display: flex;}
.container{
    margin:3em;
}
svg {fill: currentColor;}


/* font size --------------------*/
html{font-size: 16px;}
p{font-size: 1em;}
h1{font-size: 2em;}
h2{font-size: 2em;}
h3{font-size: 1.5em;}
aside{font-size: 0.8em;}

/* width ------------------------*/
.textbox{width: auto;}

/* URI --------------------------*/
a{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
a[href^="http"]::after{
    content: "";
    background-image: url("https://note.cheerppy.xyz/src/img/ext.svg");
    background-size: 0.5em;
}
a[href^="https://note.cheerppy.xyz/"]::after{
    background-image: none;
}
/* table ------------------------*/
table{border-collapse: collapse;}
td,th{
    border: solid 1px #000000;
    border-style: none, solid, none;
    border-collapse: collapse;
}
tr{background-color: pink;}
tr:nth-of-type(2n+1){background-color: #ffffff}


/* code block --------------------*/
pre,code{
    white-space: pre-line;
    padding: 10px, 8px;     /*上下, 左右*/
    background-color: khaki;
    font-family: "monospace";
    font-size: 14px;
}
pre{
    margin: 2px;
}
code{
    padding: 2px;
}
.noCodeColor pre,code{
    background-color: auto;
}
/*  -----------------------------*/
/*----*/
/*----*/
/*----*/
/*----*/
/*----*/
/*----*/

